@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/**/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    border: none;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#e705ab;
    --color-degradado: linear-gradient(to right, #D84DE8 0%, #58b0f8 50%, #8BB5F6 100%);
    
}
section{
    width: 100%;
    min-height: auto;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
}
body{
    
    color: var(--text-color);
    overflow-x: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: 1rem solid rgba(0, 0, 0, .2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7rem;
    color: #9d7efc;
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color: white;
}
#menu-icon{
    font-size: 5rem;    
    color: var(--text-color);
    display: none;
  
}


/*      home        */
.home{
    min-height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background: #190230;
    background: linear-gradient(155deg,rgba(25, 2, 48, 1) 45%, rgba(63, 31, 126, 1) 74%, rgba(116, 69, 209, 1) 100%);
    position: relative;
    padding: 10rem 9% 3rem;
}
.home::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 25%;
    background: #190230;
    background: linear-gradient(#19023000, #190230);
    bottom: 0;
}
.img-home img{
    width: 27vw;
    transition: .5s ease;
}
/**/
.img-home img:hover{
    transform: scale(1.08);
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    background: #D84DE8;
    background: linear-gradient(to right, #D84DE8 0%, #A592F2 50%, #8BB5F6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content:hover h1{
    color: white;
    text-shadow: 0 0 5px #fff, /* Sombra blanca para el brillo interior */
               0 0 10px #fff, /* Sombra blanca más grande para el halo */
               0 0 20px #007bff, /* Sombra azul para un efecto neón */
               0 0 40px #007bff; /* Sombra azul más difusa para el efecto */
  transition: text-shadow 0.3s ease-in-out; /* Transición para el efecto */
}
.home-content p{
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #8664ee;
    border-radius: 50%;
    font-size: 2rem;
    color: #8664ee;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: white;
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem white;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
}
.btn:hover{
    box-shadow: none;
}

.home .home-content .home-button{
    background: none;
    background-color: #8664ee;
    padding: 1.5rem 4rem;
    font-size: 2.2rem;
    border-radius: 50px;
    font-weight: 400;
    color: white;
    transition: .5s ease;
    cursor: pointer;
}
.home .home-content .home-button:hover{
    background: #3e1ba8;
}
/*about*/
.about{
    min-height: 55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 6rem;
    background: #190230;
    overflow-x: hidden;
    overflow: hidden;
    padding: 2rem 9% 2rem;
}
.about-img img{
    width: 30vw;
    transition: .5s ease;
}
.about-img img:hover{
    transform: scale(1.02);
    filter: 
    drop-shadow(-1px 3px 5px white);
}
.heading{
    text-align: center;
    font-size: 5rem;
}
.about-content{
    position: relative;
}

.about-content ul .datos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
}
.about-content ul .datos h4{
    font-size: 2.5rem;
    font-weight: 400;
}
.about-content ul .datos .opaco{
    color: #007bff00;
}
.about-content p{
    font-size: 2.1rem;
    font-weight: 200;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
    background: #D84DE8;
    background: linear-gradient(to right, #D84DE8 0%, #A592F2 50%, #8BB5F6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    letter-spacing: .2rem;
}



/*     SECTION-TOOLS     */
.skills-section{
    min-height: 105vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #190230;
    padding: 3rem 7% 3rem;
}
.section-tools{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem 0px;
}
.section-tools .skill-img img{
    width: 45vw;
}

.section-tools .about-skills h2{
    background: #D84DE8;
    background: linear-gradient(to right, #D84DE8 0%, #58b0f8 50%, #8BB5F6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 400;
}
.section-tools .about-skills ul li{
    font-size: 2.5rem;
    color: white;
}
.section-tools .about-skills p{
    font-size: 1.9rem;
    font-weight: 200;
}
/*-----     TOOLS       -----*/
.tools{
    width: 100%;
    background: #190230;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0px;
}
.tools h2{
    width: 100%;
    text-align: left;
    font-size: 5rem;
    font-weight: 400;
    background: #D84DE8;
    background: linear-gradient(to right, #D84DE8 0%, #58b0f8 50%, #8BB5F6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.tools .container-tools{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    padding: 1rem .5rem;
}
.tools .container-tools .tool-img{
    width: 70px;
    height: 75px;
    transition: .5s ease;
}
.tools .container-tools .tool-img:hover{
    transform: scale(1.30);
}
.tools .container-tools .tool-img .figma{
    width: 45px;
}
.tools .container-tools .tool-img img{
    width: 70px;
    height: 75px;
}

/*  servicios   */
/*      portafolio      */
.portafolio{
    overflow: hidden;
    overflow-x: hidden;
    background: #190230;
    padding: 2rem 11% 2rem;
}
.portafolio h2{
    margin-bottom: 2rem;
    text-align: left;
    font-weight: 400;
    background: #D84DE8;
    background: linear-gradient(to right, #D84DE8 0%, #58b0f8 50%, #8BB5F6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.portafolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    margin-bottom: 3rem;
}
.portafolio-container .portafolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    z-index: 1;
}
.portafolio-box img{
    width: 100%;
    transition: .5s ease;
    border-radius: 5px;
}
.portafolio-box:hover img{
    transform: scale(1.1);
}
.portafolio-box .icon-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 1rem 2rem;
    z-index: 4;
}
.portafolio-box .nav-violet{
    background: #ca8a70;
}
.portafolio-box .nav-blue{
    background: #1d76ab;
}
.portafolio-box .nav-azul{
    background: #112d4e;
}
.portafolio-box .nav-purple{
    background: #210140;
}
.portafolio-box .nav-green{
    background: rgb(0,31,4);
    background: linear-gradient(254deg, rgba(0,31,4,1) 0%, rgba(116,183,43,1) 45%, rgba(196,210,0,1) 100%);
}
.portafolio-box .nav-agua{
    background: #06b0af;
}
.portafolio-box .nav-red{
    background: #731012;
}
.portafolio-box  .icon-box p{
    font-size: 1.6rem;
    font-weight: 300;
}
.portafolio-box .icon-box .nav-img{
    width: 100%;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
}
.portafolio .portafolio-container .portafolio-box .icon-box .nav-img img{
    width: 30px;
    height: 30px;
}
.portafolio-box .portafolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0px;
    transform: translateY(100%);
    transition: .5s ease;
    z-index: 3;
}
.portafolio-box .portafolio-layer h4{
    font-size: 3rem;
    font-weight: 400;
    color: white;
}
.portafolio-box .portafolio-layer h1{
    font-size: 2rem;
    font-weight: 300;
    color: white;
}
.portafolio-box .portafolio-layer i{
    font-size: 3rem;
    color: var(--second-bg-color);
    position: relative;
    z-index: 3;
    color: white;
}
.portafolio-box .portafolio-layer i::before{
    font-size: 2rem;
    background: white;
    color: var(--second-bg-color);
    position: relative;
    z-index: 3;
    padding: 1rem;
    border-radius: 50%;
}

.portafolio-box .layer-violet{
    background: #ad6c5296;
}
.portafolio-box .layer-blue{
    background: #1d77ab75;
}
.portafolio-box .layer-azul{
    background: #112d4e83;
}
.portafolio-box .layer-purple{
    background: #19023088;
}
.portafolio-box .layer-green{
    background: rgba(0, 31, 4, 0.575);
    background: linear-gradient(254deg, rgba(0, 31, 4, 0.678) 0%, rgba(115, 183, 43, 0.712) 45%, rgba(196, 210, 0, 0.61) 100%);
}
.portafolio-box .layer-agua{
    background: #06b0b08f;
}
.portafolio-box .layer-red{
    background: #73101283;
}
.portafolio-box:hover .portafolio-layer{
    transform: translateY(0);
}



/*  formulario  */
.contact{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #190230;
    padding: 1rem 8% 1rem;
    gap: 2rem;
}
.contact h2{
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 3rem;
    background: #D84DE8;
    background: linear-gradient(to right, #D84DE8 0%, #58b0f8 50%, #8BB5F6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact a{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D84DE8;
    background: linear-gradient(to right, #D84DE8 0%, #58b0f8 50%, #8BB5F6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact i{
    font-size: 5rem;
}



/*      footer      */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #131313;
}
.footer .footer-text a{
    background: #D84DE8;
    background: linear-gradient(to right, #D84DE8 0%, #58b0f8 50%, #8BB5F6 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
}
.footer .footer-text p{
    font-size: 1.6rem;
    font-weight: 200;
}
.footer .footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #b69eff;
    border-radius: .8rem;
    transition: .5s ease;
    
}
.footer-iconTop a:hover{
    box-shadow: 0 0 1rem #ffffff;
    background: white;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/*      responsive      */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media (max-width: 1000px){
    .portafolio{
        padding: 2rem 5% 2rem;
    }
}
@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }
    .section{
        padding: 10rem 3% 2rem;
    }
    .portafolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .services{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }    

}
@media(max-width: 877px){
    .section-tools {
        display: flex;
        flex-direction: column-reverse;
    }
        .section-tools .skill-img img{
        width: 100%;
    }
}
@media (max-width: 768px){
    #menu-icon{
        display:block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .img-home img{
        width: 55vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about img{
        width: 55vw;
        margin-bottom: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portafolio h2{
        margin-bottom: 3rem;
    }
    .portafolio-container{
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 617px){
    .portafolio-container{
        grid-template-columns:  1fr;
    }
}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px) {
    .img-home img{
        width: 90vw;
    }
    .about-img img{
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}

